In [1]:
# Importing Library
import pandas as pd
import numpy as np

In [2]:
# Loading data from admission_data.csv
df = pd.read_csv('admission_data.csv')

In [3]:
# Printing the first 5 rows.
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [4]:
# Printing the Last 5 rows.
df.tail()

     student_id  gender      major  admitted
495       26950    male    Physics     False
496       25775  female  Chemistry      True
497       47243  female  Chemistry      True
498       52067    male    Physics      True
499       50535    male    Physics     False

In [5]:
#Proportion and admission rate for each gender

# Quantity of each gender.
print(df.gender.value_counts())

# Proportion of students that are female
print('\nFemale proportion: ',df.gender.value_counts()[0]/sum(df.gender.value_counts()))

female    257
male      243
Name: gender, dtype: int64

Female proportion:  0.514

In [6]:
# Quantity of each gender.
print(df.gender.value_counts())

# Proportion of students that are male
print('\nMale proportion: ',df.gender.value_counts()[1]/sum(df.gender.value_counts()))

female    257
male      243
Name: gender, dtype: int64

Male proportion:  0.486

In [7]:
# Subsetting the df to filter only female observations.
df_female = df[df.gender == 'female']

# Quantity of female admitted.
print(df_female.admitted.value_counts())

# Admission rate for females
print('\nFemale Admission rate:',df_female.admitted.value_counts()[1]/sum(df_female.admitted.value_counts()))

False    183
True      74
Name: admitted, dtype: int64

Female Admission rate: 0.28793774319066145

In [8]:
# Subsetting the df to filter only male observations.
df_male = df[df.gender == 'male']

# Quantity of male admitted.
print(df_male.admitted.value_counts())

# Admission rate for male
print('\nMale Admission rate:',df_male.admitted.value_counts()[1]/sum(df_male.admitted.value_counts()))

False    125
True     118
Name: admitted, dtype: int64

Male Admission rate: 0.48559670781893005

In [9]:
#Proportion and admission rate for physics majors of each gender

# Subsetting the Physics students.
df_physics = df[df.major == "Physics"]

# Quantity of student by gender
print(df_physics.gender.value_counts())

# What proportion of female students are majoring in physics?
print('\nFemale Student in Physics: ',df_physics.gender.value_counts()[1]/sum(df_physics.gender.value_counts()))

male      225
female     31
Name: gender, dtype: int64

Female Student in Physics:  0.12109375

In [10]:
# Subsetting the Physics students.
df_physics = df[df.major == "Physics"]

# Quantity of student by gender
print(df_physics.gender.value_counts())

# What proportion of male students are majoring in physics?
print('\nMale Student in Physics: ',df_physics.gender.value_counts()[0]/sum(df_physics.gender.value_counts()))

male      225
female     31
Name: gender, dtype: int64

Male Student in Physics:  0.87890625

In [11]:
# Number of female physics student admitted.
print(df_physics[df_physics.gender == 'female'].admitted.value_counts())

# Admission rate for female physics majors
print('\nNumber of Female Student Admitted: ', df_physics[df_physics.gender == 'female'].admitted.value_counts()[1]/len(df_physics[df_physics.gender == 'female'].admitted))

True     23
False     8
Name: admitted, dtype: int64

Number of Female Student Admitted:  0.7419354838709677

In [12]:
# Number of male physics student admitted.
print(df_physics[df_physics.gender == 'male'].admitted.value_counts())

# Admission rate for male physics majors
print('\nNumber of Male Student Admitted: ', df_physics[df_physics.gender == 'male'].admitted.value_counts()[1]/len(df_physics[df_physics.gender == 'male'].admitted))

True     116
False    109
Name: admitted, dtype: int64

Number of Male Student Admitted:  0.5155555555555555

In [13]:
#Who tends to have more physics majors than chemistry majors?
print('Female:\n',df[df.gender == 'female'].major.value_counts())
print('\nMale:')
print(df[df.gender == 'male'].major.value_counts())

Female:
 Chemistry    226
Physics       31
Name: major, dtype: int64

Male:
Physics      225
Chemistry     18
Name: major, dtype: int64

In [14]:
#Proportion and admission rate for chemistry majors of each gender
# What proportion of female students are majoring in chemistry?
df_physics = df[df.major == "Chemistry"]

# Quantity of student by gender
print(df_physics.gender.value_counts())

# What proportion of female students are majoring in physics?
print('\nFemale Student in Chemistry: ',df_physics.gender.value_counts()[0]/sum(df_physics.gender.value_counts()))

female    226
male       18
Name: gender, dtype: int64

Female Student in Chemistry:  0.9262295081967213

In [15]:
# What proportion of male students are majoring in chemistry?
df_chemistry = df[df.major == "Chemistry"]

# Quantity of student by gender
print(df_chemistry.gender.value_counts())

# What proportion of female students are majoring in physics?
print('\nMale Student in Chemistry: ',df_chemistry.gender.value_counts()[1]/sum(df_chemistry.gender.value_counts()))

female    226
male       18
Name: gender, dtype: int64

Male Student in Chemistry:  0.07377049180327869

In [16]:
# Number of female physics student admitted.
print(df_chemistry[df_chemistry.gender == 'female'].admitted.value_counts())

# Admission rate for female chemistry majors
print('\nNumber of Female Student Admitted: ', df_chemistry[df_chemistry.gender == 'female'].admitted.value_counts()[1]/len(df_chemistry[df_chemistry.gender == 'female'].admitted))

False    175
True      51
Name: admitted, dtype: int64

Number of Female Student Admitted:  0.22566371681415928

In [17]:
# Number of female physics student admitted.
print(df_chemistry[df_chemistry.gender == 'male'].admitted.value_counts())

# Admission rate for male chemistry majors
print('\nNumber of Female Student Admitted: ', df_chemistry[df_chemistry.gender == 'male'].admitted.value_counts()[1]/len(df_chemistry[df_chemistry.gender == 'male'].admitted))

False    16
True      2
Name: admitted, dtype: int64

Number of Female Student Admitted:  0.1111111111111111

In [18]:
#Admission rate for each major

print(df[df.major == 'Physics'].admitted.value_counts())

# Admission rate for physics majors
df[df.major == 'Physics'].admitted.value_counts()[1]/sum(df[df.major == 'Physics'].admitted.value_counts())

True     139
False    117
Name: admitted, dtype: int64

0.54296875

In [19]:
print(df[df.major == 'Chemistry'].admitted.value_counts())

# Admission rate for chemistry majors
df[df.major == 'Chemistry'].admitted.value_counts()[1]/sum(df[df.major == 'Chemistry'].admitted.value_counts())

False    191
True      53
Name: admitted, dtype: int64

0.21721311475409835